.birth-form-wrapper {
  margin: 30px;
}

.birth-form {
  height: 30px;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.year-form {
  width: 40%;
  margin: 0 10px;
  border-radius: 6px;
}

.month-form {
  width: 30%;
  margin: 0 10px;
  border-radius: 6px;
}

.day-form {
  width: 30%;
  margin: 0 10px;
  border-radius: 6px;
}

.right {
  direction: rtl;
  width: 100%;
}
